<h2>About</h2>
<table>
    <thead>
        <tr>
            <th>stuff</th>
            <th>stuff</th>
            <th>stuff</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>stuff</td>
            <td>stuff</td>
            <td>stuff</td>
        </tr>
        <tr>
            <td>stuff</td>
            <td>stuff</td>
            <td>stuff</td>
        </tr>
    </tbody>
</table>
