<h2>Help</h2>
<ul>
    <li id="li1">Things</li>
    <li id="li2">Things</li>
    <li id="li3">Things</li>
</ul>
<table>
    <thead>
        <tr>
            <th>stuff</th>
            <th>stuff</th>
            <th>stuff</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>stuff</td>
            <td>stuff</td>
            <td>stuff</td>
        </tr>
        <tr>
            <td>stuff</td>
            <td>stuff</td>
            <td>stuff</td>
        </tr>
    </tbody>
</table>
<img src="/app/assets/images/Griffnix_start_icon.png">
