<div class="item_wrap">
  <div class="bullet"></div>
  <p>
    <span class="item_name">
      <%= link_to (user.first_name + " " + user.last_name), user, title: "Show account profiles" %>
    </span>
  </p>
</div>
