<div id="item_list">
  <% items.each do |item| %>
    <div class="item_wrap">
      <div class="bullet"></div>
      <p>
        <span class="item_name">
          <%= link_to truncate(item.name, length: 50), item %>
        </span>
        <br/>
        <span class="item_cat">
          <%= link_to item.category.name, items_path(category_id: item.category_id) %>
        </span>
      </p>
    </div>
  <% end %>
  <%= content_tag(:h3, "No items found", class: "no_items_message") if items.size == 0 %>
  <%= will_paginate items, param_name: param_name %>
</div>
