<h2>Want to buy something?</h2>

<div id="item_list">
  <% @items.each do |i| %>
    <%= render 'index_item', :index_item => i %>
  <% end %>
</div>

<%= link_to 'Something to Sell?', action: 'new' %>
