<div class="item_wrap">
  <div class="bullet"></div>
  <p>
    <span class="item_name">
      <%= link_to truncate(category.name, length: 50), edit_category_path(category) %>
    </span>
    <br>
    <span class="item_cat">
      <%= category.description %>
    </span>
  </p>
</div>
