<% @admin = true %>
<% @page_title = "All Categories" %>

<h2><%= @page_title %></h2>

<div id="item_list">
  <% @categories.each do |category| %>
    <%= render 'index_category', category: category %>
  <% end %>
  <%= content_tag(:h3, "No categories found", class: "no_items_message") if @categories.count==0 %>
</div>

<br>
<div class="container_nav">
  <%= link_to 'Add Category', new_category_path, class: "bordered_link" %>
</div>
