<% @admin = true %>
<% @page_title = "New category" %>

<%= render 'form' %>

<div class="container_nav">
  <%= link_to 'Cancel', categories_path, class: "bordered_link", title: "Return to Categories" %>
</div>
