<% @admin = true %>
<% @page_title = "New category" %>

<h2><%= @page_title %></h2>

<%= render 'form' %>

<div class="container_nav">
  <%= link_to 'Cancel', categories_path, class: "bordered_link" %>
</div>
