<header>
  <h1><%= link_to("Auction App", root_path) %></h1>
  <nav>
    <%= link_to "Home", root_path %>
    <%= link_to "Add New", new_item_path %>
    <%= link_to "Admin", controller: "categories" %>
  </nav>
</header>
